{% extends "base.html" %}
{% block content %}
<h2>Your Cart</h2>
{% if cart_items %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>₹{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.price * item.quantity }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-end"><strong>Grand Total</strong></td>
            <td><strong>₹{{ grand_total }}</strong></td>
        </tr>
    </tbody>
</table>
<a href="{{ url_for('main.checkout') }}" class="btn btn-success">Proceed to Checkout</a>
{% else %}
<p>you dont have any products HERE >><a class="btn btn-primary ms-3" href="{{ url_for('main.products') }}">Shop NOW</a></p>
                
{% endif %}
{% endblock %}
